

/* SCROLLBAR */

  /* width */
::-webkit-scrollbar {
  width: 15px;
}

  /* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

  /* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5);
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  /* TABLET and SMARTPHONE VERSION */

  @media screen and (min-width: 0px) and (max-width: 1049px){
    ::-webkit-scrollbar {
      height: 3px;
    }
    .column-md-5, .column-sm-5{
      flex-shrink: 0;
    }
  }

  /* /TABLET and SMARTPHONE VERSION */

/* GENERAL */

*{
  font-family: sans-serif;
}

.cl_wt{
  color: #ffffff;
}

.flex{
  display: flex;
}

.flex_vertical{
  display: flex;
  flex-direction: column;
}

.center{
  align-items: center;
}

  /* TABLET and SMARTPHONE VERSION */

  @media screen and (min-width: 768px) and (max-width: 1049px){
    .column-md-5{
      margin-bottom: 15px;
    }
  }
  @media screen and (max-width: 767px) {
    .column-sm-5{
      margin-bottom: 25px;
    }
  }

  /* /TABLET and SMARTPHONE VERSION */

/* NAVBAR */

.navbar{
  background-image: linear-gradient(to right bottom, rgb(18, 18, 18), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  width: 230px;
  height: calc(100vh - 90px);
}

  /* NOT DESKTOP VERSION */

  @media screen and (max-width: 1049px){
    .navbar{
      display: none;
    }
  }

  /* /NOT DESKTOP VERSION */

nav{
  height: 100%;
  overflow-y: auto;
}


nav i{
  color: #ffffff;
  font-size: 1.5em;
}

nav span{
  color: #ffffff;
}

nav .fa-plus{
  color: #000000;
  background-color: #ffffff;
  padding: 5px;
}

.home{
  height: calc((100vh - 90px)/3.5);
  min-height: 200px;
}

.home #logo{
  padding: 20px 25px 0 25px;
  width: 75%;
}

nav .home .center{
  opacity: 0.5;
  padding: 0 25px;
  line-height: 45px;
  cursor: pointer;
}

nav .home .center:hover{
  opacity: 1;
}

nav .home .green{
  opacity: 1;
  padding: 0 18px;
  border-left: 5px solid #1ed760;
}

.home .center span{
  margin-left: 15px;
}

.playlist{
  padding: 0 25px;
  height: 50vh;
  min-height: 375px;
}

.playlist h5{
  padding: 20px 0 15px 0;
  opacity: 0.5;
}

.playlist a{
  color: #ffffff;
  text-decoration: none;
  line-height: 30px;
  font-size: 14px;
  opacity: 0.5;
}

.playlist a:hover{
  opacity: 1;
}

.playlist .list{
  margin-top: 13px;
}

.playlist .center{
  opacity: 0.5;
  cursor: pointer;
}

.playlist .center:hover{
  opacity: 1;
}

.playlist .center span{
  margin-left: 15px;
}

.account{
  padding: 0 25px;
  height: calc((100vh - 90px)/7);
  min-height: 50px;
  justify-content: flex-end;
}

.account a{
  text-decoration: none;
}

.account .flex:first-child{
  padding-bottom: 8px;
  opacity: 0.5;
}

.account .flex:last-child{
  padding: 8px 0 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 1;
}

.account .center span{
  margin-left: 15px;
}

.account .fa-arrow-alt-circle-down{
  font-size: 17px;
}

.account a:first-child:hover{
  opacity: 1;
}

.album{
  width: 25px;
}

/* TABLET NAVBAR */

.nav_tab{
  padding: 40px 0;
  background-image: linear-gradient(to right bottom, rgb(18, 18, 18), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  width: 230px;
  height: calc(100vh - 0px);
}

  /* DESKTOP VERSION */

  @media screen and (min-width: 1050px) {
    .nav_tab{
      display: none;
    }
  }

  /* /DESKTOP VERSION */

  /* SMARTPHONE VERSION */

  @media screen and (max-width: 767px) {
    .nav_tab{
      display: none;
    }
  }

  /* /SMARTPHONE VERSION */

span{
  color: #ffffff;
}

.nav_tab .home .menu .center{
  opacity: 0.5;
  padding: 0 25px;
  line-height: 45px;
  cursor: pointer;
}

.nav_tab .home .menu .center:hover{
  opacity: 1;
}

.nav_tab .home .menu .green{
  opacity: 1;
  padding: 0 18px;
  border-left: 5px solid #1ed760;
}

.nav_tab .tab_control{
  margin: 0 18px;
}

.nav_tab .tab_control img{
  margin-bottom: 20px;
}

.nav_tab .home{
  height: 100%;
}

.nav_tab .flex_vertical{
  justify-content: space-between;
}

.nav_tab .tab_control > div > div > p > a{
  color: #ffffff;
  font-size: 11px;
  text-decoration: none;
}

.nav_tab .tab_control > .flex > .flex_vertical{
  padding-right: 10px;
}

.tab_music_cotrol{
  position: relative;
}

.tab_music_cotrol .bar{
  height: 3px;
  background-color: rgba(124, 124, 124, 0.4);
  width: 100%;
  margin: 30px 0 50px 0;
  border-radius: 5px;
  cursor: pointer;
}

.tab_music_cotrol .bar div{
  background-color: #ffffff;
  width: 50%;
  height: 3px;
  border-radius: 5px;
}

.keys{
  font-size: 40px;
  justify-content: space-between;
}

.keys i.fa-pause-circle{
  font-size: 60px;
}

.nav_tab .tab_music_cotrol .ball{
  top: 25px;
  left: 47%;
}

.logo_nav{
  width: 194px;
}

/* MAIN */

.main{
  background-image: linear-gradient(to right bottom, rgb(124, 29, 32), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  padding: 50px 30px;
  overflow-y: auto;
}

.copertine{
  width: 100%;
}

  /* TABLET VERSION */

  @media screen and (min-width: 768px) and (max-width: 1049px){
    .main{
      width: calc(100% - 230px);
      height: calc(100vh - 0px);
    }
  }

  /* /TABLET VERSION */

  /* SMARTPHONE VERSION */

  @media screen and (max-width: 767px){
    .main{
      width: 100%;
      height: calc(100vh - 100px);
      padding: 0 15px;
      padding-top: 30px;
    }
    .title_main{
      text-align: center;
    }
    .title_main > a{
      display: none;
    }
    /* .title_main{
      justify-content: center;
    } */
  }

  /* /SMARTPHONE VERSION */

.main .margin{
  margin: 0 auto;
  max-width: 1480px;
}

.main ul:first-child{
  list-style: none;
  justify-content: center;
}

.main ul:first-child li{
  margin: 0 2%;
  position: relative;
  font-size: 13px;
  font-weight: bold;
}

.main ul:first-child li a{
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
}

.main ul:first-child li:first-child a{
  opacity: 1;
}

.main ul:first-child li a:hover{
  opacity: 1;
}

.main ul:first-child li:first-child::after{
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 30px;
  position: absolute;
  display: block;
  left: 50%;
  bottom: -5px;
  margin-left: -15px;
}

.title_main{
  padding: 0 1%;
  margin-top: 60px;
  justify-content: space-between;
}

.title_main h2 a{
  font-size: 35px;
  opacity: 1;
}

  /* NO DESKTOP VERSION */

  @media screen and (max-width: 1049px){
    .title_main h2 a{
      font-size: 20px;
    }
    .title_main{
      margin-top: 0px;
    }
    .main ul:first-child, .main ul:first-child li{
      display: none;
    }
  }

  /* /NO DESKTOP VERSION */

  /* TABLET VERSION */

  @media screen and (min-width: 0px) and (max-width: 1049px){
    .main > .margin > section:not(:first-of-type){
      margin-top: 20px;
    }
  }

  /* /TABLET VERSION */

  /* SMARTPHONE VERSION */

  @media screen and (max-width: 767px){
    section > div.title_main{
      justify-content: center;
    }
  }

  /* /SMARTPHONE VERSION */

.title_main h2 a:hover{
  padding-bottom: 2px;
  border-bottom: 1px #ffffff solid;
}

.title_main p{
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.5;
}

.title_main a{
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.5;
}

.title_main a:hover{
  opacity: 1;
}

.song{
  margin-top: 30px;
}

  /* TABLET VERSION */

  @media screen and (min-width: 0px) and (max-width: 1049px){
    .song{
      overflow-x: auto;
    }
    .song:last-child{
      margin-bottom: 40px;
    }
  }

  /* /TABLET VERSION */


.song .column-lg-2{
  padding: 0 1%;
}

.song a{
  color: #ffffff;
  text-decoration: none;
}

.song h5{
  padding-top: 10px;
  cursor: pointer;
  text-align: center;
}

.song h6{
  margin-top: 7px;
  opacity: 0.5;
  font-size: 13px;
  text-align: center;
}

.song h6:hover{
  opacity: 1;
  text-decoration: underline;
}

.song > div > a{
  position: relative;
}

.song > div .circle{
  border-radius: 50%;
}

.song > div > a .bg_grey{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  background-size: contain;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.song > div > a .bg_grey i{
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.song > div > a:hover .bg_grey{
  visibility: visible;
}

/* PLAYER */

.player{
  background-color: #282828;
  width: 100%;
  height: 90px;
}

  /* NOT DESKTOP VERSION */

  @media screen and (max-width: 1049px){
    .player{
      display: none;
    }
  }

  /* /NOT DESKTOP VERSION */

.player .flex:first-child img{
  margin-right: 20px;
  width: 56px;
}

.player .container{
  height: 100%;
  align-items: center;
}

.player a{
  color: #ffffff;
  text-decoration: none;
}

.player h5:hover{
  text-decoration: underline;
}

.player h6 a{
  opacity: 0.5;
}

.player h6 a:hover{
  text-decoration: underline;
  opacity: 1;
}

.player i{
  color: #ffffff;
  padding: 0 15px;
  opacity: 0.5;
}

.player svg{
  color: #ffffff;
  opacity: 0.5;
}

.player i:hover, .player svg:hover{
  opacity: 1;
}

.player .gap{
  padding: 0 2rem;
}

.player .flex_vertical{
  width: 100%;
}

.player .flex_vertical .flex{
  width: 100%;
  justify-content: center;
}

.player .flex_vertical .flex .fa-pause-circle{
  font-size: 25px;
}

.player .flex_vertical .flex .fa-pause-circle:hover{
  font-size: 30px;
}

.player .bar{
  height: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  margin: 0px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.player .bar div{
  background-color: #ffffff;
  width: 50%;
  height: 3px;
  border-radius: 5px;
}

.player .bar div:hover{
  background-color: #1ed760;
}

.player .flex_vertical .flex:last-child{
  margin-top: 10px;
}

.player .control{
  justify-content: flex-end;
}

.player .control i{
  font-size: 13px;
  padding: 0 10px;
}

.player span{
  font-size: 12px;
  opacity: 0.5;
}

.player .volbar{
  height: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100px;
  border-radius: 5px;
}

.player .volbar div{
  width: 100%;
  background-color: #ffffff;
  height: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.player .volume{
  position: relative;
}

.player .volume:hover .volbar div{
  background-color: #1ed760;
}

.ball{
  height: 15px;
  width: 15px;
  background-color: #989898;
  border-radius: 50%;
  position: absolute;
}

.player .volume .ball{
  top: 2px;
  right: 0%;
}


/* ALTERNATIVE PLAYER */

@media screen and (min-width: 768px) {
  .aletnative_player{
    display: none;
  }
}

.aletnative_player{
  background-color: #282828;
  width: 100%;
  height: 100px;
  position: relative;
}

.aletnative_player .first{
  height: 50px;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 1px #000000 solid;
}

.aletnative_player .first p{
  font-size: 10px;
  margin-left: 4px;
  opacity: 0.5;
}

.aletnative_player .first i{
  font-size: 20px;
}

.aletnative_player .first .flex:last-child a:first-child{
  margin-right: 20px;
}

.aletnative_player .bar{
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  cursor: pointer;
  position: absolute;
}

.aletnative_player .bar div{
  background-color: #ffffff;
  width: 50%;
  height: 1px;
}

.aletnative_player .second{
  height: 50px;
  justify-content: space-around;
  padding: 0 15px;
}

.aletnative_player .second .flex_vertical{
  cursor: pointer;
}

.aletnative_player .second .flex_vertical img{
  width: 20px;
}

.aletnative_player .second .flex_vertical:not(:first-of-type){
  opacity: 0.5;
}

.aletnative_player .second .flex_vertical:not(:first-of-type):hover{
  opacity: 1;
}
